@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: url(img/bg_blog.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}
.container {
  position: relative;
}
.profile-area {
  padding: 25px 0;
}
.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 9px;
  width: 16em;
}
.img1 img {
  border-radius: 9px;
  width: 16em;
}
.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -50px;
}
.card-text {
  padding: 5px 25px;
  font-size: 15px;
}
hr {
  height: 2px !important;
  color: #0076dd !important;
}
i {
  font-size: 30px !important;
  color: rgb(108, 30, 253) !important;
  z-index: 1;
}
.slider {
  position: absolute;
  top: 50%;
  right: -4%;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  border: none !important;
}
.slider-down {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .slider {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .slider-down {
    display: block;
    position: absolute;
    bottom: -20px;
    right: 45%;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    border: none !important;
  }
}
